<p>product works!</p>
<div class="container mt-4">
    <h2>Danh sách sản phẩm</h2>
    <a class="btn  btn-success" routerLink="/product/add">Thêm Sản Phẩm</a>
    <div class="row mt-4">
      <!-- Sản phẩm 1 -->
      <div *ngFor="let product of products; let i = index" class="col-md-3">
        <div class="product">
          <img src="{{product.image}}" alt="Sản phẩm 1">
          <h3>{{product.name}}</h3>
          <p>{{product.price}} VND</p>
          
          <button class="btn btn-primary">Chi tiết</button>
        </div>
      </div>
    </div>
  </div>