<p>add-form-product works!</p>
<div class="container">
    <h2>Thêm Sản Phẩm</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Tên Sản Phẩm:</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="productName" name="productName">
      </div>
      <div class="form-group">
        <label for="description">Giá:</label>
        <input class="form-control" id="description" required [(ngModel)]="productPrice" name="productDescription">
      </div>
      <div class="form-group">
        <label for="description">Ảnh:</label>
        <textarea class="form-control" id="description" required [(ngModel)]="productImage" name="productDescription"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
  </div>
  